
h1 a {
	color: #FCA205;
	font-family: 'Lobster';
}
body {
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.container {
    width: 100%
}

h1, h2 {
    font-family: 'Lobster', cursive;
}

h3 {
    font-family: 'Lobster', cursive;
    color: #543964;
}

h4 {
    font-family: 'Neucha', cursive;
    color: #00619e;
}

h5 {
    font-family: 'Neucha', cursive;
    color: #fa2363;
}

h6.edit {
    font-family: 'Neucha', cursive;
    color: #00619e;
}
h6.delete {
    font-family: 'Neucha', cursive;
    color: #fa2363;
}

.user {
    float: right;
    color: #FCA205;
}

.back {
    float: right;
    color: #2a8d9c;
}

.save {
    float: left;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #2a8d9c;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.butt h1 a, .butt h1 a:visited {
    color: #2a8d9c;
    border: 2px;
}