   {% extends 'quize/base.html' %}

    {% block content %}
        <div class="post">

            <div class="user">
            <div class="panel panel-success">
                 <div class="panel-heading">
                    <h1>Участник: {{ user }}</h1>
                </div>
                    <h1>
                        <a class="btn btn-default" href="{% url 'user_edit' pk=user.pk  %}"><h6 class="edit"><span class="glyphicon glyphicon-pencil">изменить</span></h6></a>
                        <a class="btn btn-default" href="{% url 'user_remove' pk=user.pk %}"><h6 class="delete"><span class="glyphicon glyphicon-remove">удалить участника</span></h6></a>
                    </h1>
            </div>
            </div>
             

            <div class="save">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>Конкурсы:</h1>
                        <a class="btn btn-default" href="{% url 'add_cat' pk=user.pk  %}">Добавить конкурс:<span class="glyphicon glyphicon-pencil"></span></a>
                </div>

                {% for k in cont  %}
                    {% if k.cat.user == user %}
                        <h3><p align="center">категория: {{k.cat}}</p></h3>
                        <h4><p align="center">название конкурса: <b>{{k.name}}</b></p></h4>
                        <h4><p align="center">дата проведения: <b>{{k.day}}/{{k.mont}}/{{k.year}} года</b></p></h4>
                        <h4><p align="center">занятое место: <b>{{k.result}}</b></p></h4>
                        <h4><p>_______________________________</p></h4>
                    {% endif %}
                {% endfor %}

                <h1>
                <a class="btn btn-default" href="/"><h3><span class="glyphicon glyphicon-arrow-left">Выход</span></h3></a>
                </h1>

            </div>
            </div>
            <div class="back">

            </div>
        </div>
    {% endblock %}